img {
    width: 300px;
}

#playing {
    width: 30px;
    border-radius: 10px;
    border: blue solid 1px;
    margin-left: 15px;
}
#player1 {
background-color: rgb(85, 197, 85);
color: white;
border: white 1px solid;
}
#player2 {
background-color: rgb(101, 101, 218);
color: white;
border: white 1px solid;
}
#buttonR {
    background-color: rgb(206, 89, 89);
    color: white;
    border: white 1px solid;
}

.winner {
color: rgb(105, 163, 105);;
}
.loser {
    color: rgb(187, 36, 36);

}